{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} Accueil {% endblock %}

{% block main %}

{% if app.user and is_granted('ROLE_USER') %}
<div id="hero" class="py-5 bg-secondary">
    <h3 style="text-align:center; color:white;">Venez apporter votre contribution aux projets qui ont besoin de vos talents:</h3>
    <div class="d-flex justify-content-center align-items-center my-3">
        <input type="text" placeholder="filtrer les projets par catégorie" style="width:555px;">
        <button type="submit" class="btn-primary"><i class="bi bi-search"></i></button>
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <div class="offset-lg-1 pt-5 pb-3">
            <h3>
                {% for numberOfActiveProjects in countActiveProjects %}
                {{ numberOfActiveProjects.1.0}} projets en demande active de contributions !
                {% endfor %}
            </h3>
        </div>
        <div class="offset-lg-1 col-lg-10 p-0">
            <div style="overflow-x:auto">
            <table class="table table-hover">
                <thead>
                    <tr class="bg-secondary text-white toUppercase">
                        <th>Société</th>
                        <th>Activité</th>
                        <th>Catégorie</th>
                        <th>Titre</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                        <tr>
                            <td>
                                <a href="{{ path('user_freelanceDetails', {'freelanceUsername': project.ownerId.userId.username}) }}">
                                    {{ project.ownerId.userId.userProfile.companyName }}
                                </a>
                            </td>
                            <td>{{ project.ownerId.userId.userProfile.activity }}</td>
                            <td>{{ project.categoryId.label }}</td>
                            <td>
                                <a href="{{ path('project_details', { 'id': project.id }) }}">
                                    {{ project.title }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="offset-lg-1 pt-5 pb-3">
            <h3>Les projets les plus récents :</h3>
        </div>
        <div class="offset-lg-1 col-lg-10 p-0">
            <div style="overflow-x:auto">
            <table class="table table-hover">
                <thead>
                    <tr class="bg-secondary text-white toUppercase">
                        <th>Société</th>
                        <th>Titre</th>
                        <th>Catégorie</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in newProjects %}
                        <tr>
                            <td><a href="{{ path('user_freelanceDetails', {'freelanceUsername': project.ownerId.userId.username}) }}">{{ project.ownerId.userId.userProfile.companyName }}</a></td>
                            <td><a href="{{ path('project_details', { 'id': project.id }) }}">{{ project.title }}</a></td>
                            <td>{{ project.categoryId.label }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
        <div class="offset-lg-1 pt-5 pb-3">
            <h3>Les projets les plus en demande de soutien :</h3>
        </div>
        <div class="offset-lg-1 col-lg-10 p-0">
            <div style="overflow-x:auto">
            <table class="table table-hover">
                <thead>
                    <tr class="bg-secondary text-white toUppercase">
                        <th>Société</th>
                        <th>Titre</th>
                        <th>Catégorie</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in oldProjects %}
                        <tr>
                            <td><a href="{{ path('user_freelanceDetails', {'freelanceUsername': project.ownerId.userId.userProfile.companyName}) }}">{{ project.ownerId.userId.userProfile.companyName }}</a></td>
                            <td><a href="{{ path('project_details', { 'id': project.id }) }}">{{ project.title }}</a></td>
                            <td>{{ project.categoryId.label }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>
{% else %}
    
{# If user is not logged in then we display the following #}
<div id="hero" class="py-5 bg-secondary">
    <h3 style="text-align:center; color:white;">Venez apporter votre contribution aux projets qui ont besoin de vos talents:</h3>
    <div class="d-flex justify-content-center align-items-center pt-5">
        <input type="text" placeholder="filtrer les projets par catégorie" style="width:555px;">
        <button type="submit" class="btn-primary"><i class="bi bi-search"></i></button>
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <div class="offset-lg-1 pt-5 pb-3">
            <h3>
                {% for numberOfActiveProjects in countActiveProjects %}
                {{ numberOfActiveProjects.1.0}} projets en demande active de contributions !
                {% endfor %}
            </h3>
        </div>
        <div class="offset-lg-1 col-lg-10 p-0">
            <div style="overflow-x:auto">
            <table class="table table-hover">
                <thead>
                    <tr class="bg-secondary text-white toUppercase">
                        <th>Société</th>
                        <th>Activité</th>
                        <th>Catégorie</th>
                        <th>Titre</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                        <tr>
                            <td>{{ project.ownerId.userId.userProfile.companyName }}</td>
                            <td>{{ project.ownerId.userId.userProfile.activity }}</td>
                            <td>{{ project.categoryId.label }}</td>
                            <td>{{ project.title }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="offset-lg-1 pt-5 pb-3">
            <h3>Les projets les plus récents :</h3>
        </div>
        <div class="offset-lg-1 col-lg-10 p-0">
            <div style="overflow-x:auto">
            <table class="table table-hover">
                <thead>
                    <tr class="bg-secondary text-white toUppercase">
                        <th>Société</th>
                        <th>Titre</th>
                        <th>Catégorie</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in newProjects %}
                        <tr>
                            <td>{{ project.ownerId.userId.userProfile.companyName }}</td>
                            <td>{{ project.title }}</td>
                            <td>{{ project.categoryId.label }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
        <div class="offset-lg-1 pt-5 pb-3">
            <h3>Les projets les plus en demande de soutien :</h3>
        </div>
        <div class="offset-lg-1 col-lg-10 p-0">
            <div style="overflow-x:auto">
            <table class="table table-hover">
                <thead>
                    <tr class="bg-secondary text-white toUppercase">
                        <th>Société</th>
                        <th>Titre</th>
                        <th>Catégorie</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in oldProjects %}
                        <tr>
                            <td>{{ project.ownerId.userId.userProfile.companyName }}</td>
                            <td>{{ project.title }}</td>
                            <td>{{ project.categoryId.label }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>
</div>

{% endif %}
{% endblock %}