{% extends "base.html.twig" %}

{% block title %}Mon profil{% endblock %}

{% block main %}

<div class="pt-5 pb-3">
    <h1>Mise à jour de mon profil</h1>
</div>

    <div class="row">
        <div class="mt-1 mb-1 ml-auto p-5 col-lg-5">
        <form method="post">
            <fieldset>
            <legend class="mb-5">Vos identifiants :</legend>
                <div class="form-group">
                <label for="inputUsername">Username :</label>
                <input type="text" value="{{ user.username }}" name="username" id="inputUsername" class="form-control" required disabled />
                </div>
                <div class="form-group">
                <label for="inputPassword">Mot de passe :</label>
                <input type="password" value="{{ user.password }}" name="password" id="inputPassword" class="form-control" required disabled />
                </div>
                <button class="btn btn-primary" type="button">Changer le mot de passe</button>
            </fieldset>
        </form>
        </div>

        <div class="mt-1 mb-1 mr-auto p-5 col-lg-5">
        <form method="post">
            {{form_start(form)}}
                <fieldset id="PersonalInfo">
                
                <legend class="mb-5">Vos informations personnelles :</legend>
                    <div class="form-group row">
                    <label for="email" class="col-sm-4 col-form-label">Email</label>
                    <div class="col-sm-8">
                    {{form_widget(form.email)}}
                    </div>
                    </div>

                    <div class="form-group row">
                    <label for="firstName" class="col-sm-4 col-form-label">Prénom :</label>
                    <div class="col-sm-8">
                    {{form_widget(form.firstName)}}
                    </div>
                    </div>
                    
                    <div class="form-group row">
                    <label for="lastName" class="col-sm-4 col-form-label">Nom :</label>
                    <div class="col-sm-8">
                    {{form_widget(form.lastName)}}
                    </div>
                    </div>

                    <div class="form-group row">
                    <label for="companyName" class="col-sm-4 col-form-label">Société :</label>
                    <div class="col-sm-8">
                    {{form_widget(form.companyName)}}
                    </div>
                    </div>

                    <div class="form-group row">
                    <label for="siret" class="col-sm-4 col-form-label">Siret :</label>
                    <div class="col-sm-8">
                    {{form_widget(form.siret)}}
                    </div>
                    </div>

                    <div class="form-group row">
                    <label for="activity" class="col-sm-4 col-form-label">Profession&nbsp;:</label>
                    <div class="col-sm-8">
                    {{form_widget(form.activity)}}
                    </div>
                    </div>

                    <div class="form-group row">
                    <label for="aboutUser" class="col-sm-4 col-form-label">Mon&nbsp;Univers&nbsp;:</label>
                    <div class="col-sm-8">
                    {{form_widget(form.aboutUser)}}
                    </div>
                    </div>

                    <button type="submit" class="btn btn-primary mt-1" id="updatebtn" name="submit">Valider les changements !</button>
                    
                </fieldset>
            {{form_end(form)}}
        </form>
        </div>
    </div>

{% endblock %}

{# {% block javascripts %}

<script src="{{asset('js/myProfile.js')}}" type="text/javascript"></script>

{% endblock %} #}