{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Inscription{% endblock %}

{% block main %}

<div class="pt-5 pb-3">
<h1>Modification d'informations confidentielles</h1>
</div>

<div class="col-md-8 mt-5 p-5">
<form method="post">
    <fieldset class="pt-5 mb-auto">
        <legend class="mb-1">Merci de remplir les champs ci-dessous :</legend>
        
            {{form_start(currentPassword)}}

                {{form_row(currentPassword.password)}}

            {{form_end(currentPassword)}}

            {{form_start(form)}}

                {{form_row(form.password)}}

                <button class="btn btn-primary mt-1" type="submit">Valider</button>

            {{form_end(form)}}

    </fieldset>
</form>
</div>

{% endblock %}