{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Inscription{% endblock %}

{% block main %}


    <fieldset class="mt-5 pt-5 mb-auto">
        <legend class="mb-5">Rejoignez-nous en remplissant le formulaire ci-dessous :</legend>
        <form method="post">

            {{form_start(registrationForm)}}

                {{form_row(registrationForm.username)}}
                {{form_row(registrationForm.password)}}

                <button class="btn btn-primary mt-5">Valider</button>

            {{form_end(registrationForm)}}

        </form>
    </fieldset>

{% endblock %}