<header>

{% if app.user == NULL %}

    <nav class="navbar navbar-dark bg-secondary navbar-expand-lg">
        <a href="{{path('main_home')}}" class="navbar-brand">Little-Monkeys</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <div class="navbar-nav ml-auto">
                <a href="#" class="nav-link">Annuaire</a>
                <a href="{{path('user_registration')}}" class="nav-link ml-5">S'enregistrer</a>
                <a href="{{path('app_login')}}" class="nav-link">Se connecter</a>
            </div>
        </div>
    </nav>

{% else %}
    
    <nav class="navbar navbar-dark bg-secondary navbar-expand-lg">
        <a href="{{path('main_home')}}" class="navbar-brand">Little-Monkeys</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportContent" aria-controls="navbarSupportContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportContent">
            <div class="navbar-nav ml-auto">
                <a href="{{path('project_create')}}" class="nav-link">Créer un projet</a>
                <a href="#" class="nav-link">Mes offres</a>
                <a href="#" class="nav-link">Mes projets</a>
                <a href="{{path('user_usersDirectory')}}" class="nav-link">Annuaire</a>
                <a href="{{path('user_ownProfile')}}" class="nav-link ml-5">Mon profil</a>
                <a href="{{path('app_logout')}}" class="nav-link">Se déconnecter</a>
            </div>
        </div>
    </nav>

{% endif %}

</header>