{% extends "base.html.twig" %}

{% block title %}{{parent()}} Profil Freelance{% endblock %}

{% block main %}

<div class="offset-lg-1 pt-5 pb-3">
<h1>{{freelanceDetails.username}}</h1>
</div>

    <div class="offset-lg-1 col-lg-10 p-0">
    <fieldset id="PersonalInfo">
    <legend class="mb-5">Voici tous ce que nous savons au sujet de ce ouistiti&nbsp;:</legend>
    {# nesting table in a container with style "overflow-x:auto" in order to get a horiwontal scroll bar if te screen is too small #}
        <div style="overflow-x:auto"> 
        <table class="table table-borderless">
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>Email :</td>
                    <td>{{freelanceDetails.userProfile.email}}</td>
                </tr>
                <tr>
                    <td>Prénom :</td>
                    <td>{{freelanceDetails.userProfile.firstName}}</td>
                </tr>
                <tr>
                    <td>Nom :</td>
                    <td>{{freelanceDetails.userProfile.lastName}}</td>
                </tr>
                <tr>
                    <td>Société :</td>
                    <td>{{freelanceDetails.userProfile.companyName}}</td>
                </tr>
                <tr>
                    <td>Siret :</td>
                    <td>{{freelanceDetails.userProfile.siret}}</td>
                </tr>
                <tr>
                    <td>Profession&nbsp;:</td>
                    <td>{{freelanceDetails.userProfile.activity}}</td>
                </tr>
                <tr>
                    <td>Son&nbsp;univers&nbsp;:</td>
                    <td>{{freelanceDetails.userProfile.aboutUser}}</td>
                </tr>
            </tbody>
        </table>
        </div>
    </fieldset>
    </div>


{% endblock %}