{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Inscription{% endblock %}

{% block main %}

<div class="text-center pt-5 pb-3">
<h1>Inscription</h1>
</div>

<div class="col-6 mt-3 p-5 ml-auto mr-auto">
<form method="post">
    <fieldset class="pt-5 mb-auto">
        <legend class="text-center mb-3">Rejoignez-nous en remplissant le formulaire ci-dessous&nbsp;:</legend>
        

            {{form_start(registrationForm)}}

                {{form_row(registrationForm.username)}}
                {{form_row(registrationForm.password)}}

                <button class="btn btn-primary mt-1" type="submit">Valider</button>

            {{form_end(registrationForm)}}

    </fieldset>
</form>
</div>

{% endblock %}