{% extends 'base.html.twig' %}

{% block title %}{{parent()}} Changement mot de passe{% endblock %}

{% block main %}

<div class="text-center pt-5 pb-3">
<h1>Modification de mes données confidentielles</h1>
</div>

<div class="col-9 mt-3 p-5 ml-auto mr-auto">
    <form method="post">
        {# {{form_start(form)}} #}

        <fieldset id="PersonalInfo" class="pt-5 mb-auto">
            <legend class="text-center mb-3">Merci de remplir les champs ci-dessous&nbsp;:</legend>
            <div class="form-group row">
                <label for="previousPassword" class="col-sm-4 col-form-label">Ancien mot de passe&nbsp;:</label>
                <div class="col-sm-8">
                {# {{form_widget(form.firstName)}} #}
                </div>
                </div>
                
                <div class="form-group row">
                <label for="newPassword" class="col-sm-4 col-form-label">Nouveau mot de passe&nbsp;:</label>
                <div class="col-sm-8">
                {# {{form_widget(form.lastName)}} #}
                </div>
                </div>

                <div class="form-group row">
                <label for="newPasswordConfirm" class="col-sm-4 col-form-label">Répétez le nouveau mot de passe&nbsp;:</label>
                <div class="col-sm-8">
                {# {{form_widget(form.companyName)}} #}
                </div>
                </div>

            </div>
        </fieldset>
        <div class="d-flex justify-content-center">
        <button class="btn btn-primary">Valider les changements !</button>
        </div>
        {# {{form_end(form)}} #}
    </form>
</div>

{% endblock %}